@using Gabsch.AsthetikPersonal.Models
@using Humanizer;
@inject HttpClient Http

<div class="container-centered">
    @if (bookingItems != null)
    {
        <div class="gridContainer">
            @foreach (var (item, index) in bookingItems.Select((value, i) => (value, i + 1)))
            {
                <div class="@("gridRow" + item.Row) @("tile" + index)">
                    <Tile Title="@(item.AlternateName.ToUpper().Titleize())" NavigateTo="@(basePath + item.DisplayName)">
                        @if (item.BulletPoints != null)
                        {
                            <ul class="font">
                                @foreach (var bulletPoint in item.BulletPoints)
                                {
                                    <li>
                                        <p class="font">@bulletPoint</p>
                                    </li>
                                }
                            </ul>
                        }
                    </Tile>
                </div>
            }
        </div>
    }
    else
    {
        <p><em>Loading...</em></p>
    }
</div>

@code {
    private string basePath = "/booking-checkout/";

    private IList<BookingItem> bookingItems;

    protected override async Task OnInitializedAsync()
    {
        bookingItems = await Http.GetFromJsonAsync<BookingItem[]>("sample-data/bookingItems.json");
    }
}
